$font-stack: Helvetica, sans-serif;
$primary-font: black;
$rockset-primary-color: #9737ab;
$rockset-secondary-color: #49c0e7;
$linkedin-primary-color: #0077b5;
$linkedin-secondary-color: white;
$disabled-color: gray;

$xs-svg: 40px;
$sm-svg: 60px;
$med-svg: 100px;
$lg-svg: 140px;

html {
  color: $primary-font;
  font: 100% $font-stack;
  height: 100vh;
}

#rockset {
  color: $rockset-primary-color;
}

#rockset:hover {
  background-color: $rockset-secondary-color;
}

#linkedin {
  color: $linkedin-primary-color;
}

#linkedin:hover {
  color: $linkedin-secondary-color;
  background-color: $linkedin-primary-color;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button:hover {
  background-color: #b1b1b1;
}

button:active {
  background-color: $rockset-primary-color;
}

#bread g {
  fill: $disabled-color;
}

#quill g {
  fill: $disabled-color;
}

#back_arrow:hover g {
  fill: #3fd886;
}

#bread:hover g {
  //fill: #a7612f;
}

#quill:hover g {
  //fill: #d3d3d3;
}

#back_arrow,
#bread,
#quill {
  max-height: $sm-svg;
  max-width: $sm-svg;
}

#first_name,
#last_name {
  max-height: $med-svg;
  max-width: $med-svg;
}

#brian {
  max-height: $lg-svg;
  max-width: $lg-svg;
}

main {
  max-width: 40%;
}

@media screen and (max-width: 1000px) {
  #back_arrow,
  #bread,
  #quill {
    max-height: $xs-svg;
    max-width: $xs-svg;
  }

  #first_name,
  #last_name {
    max-height: $sm-svg;
    max-width: $sm-svg;
  }

  #brian {
    max-height: $med-svg;
    max-width: $med-svg;
  }

  main {
    max-width: 85%;
  }
}
