@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i&display=swap");

$font-stack: Josefin Sans, sans-serif;
$primary-font-color: black;
$secondary-font-color: #9737ab;
$tertiary-font-color: #0077b5;

$primary-color: #e8d3ff;
$secondary-color: #c6cfff;
$tertiary-color: #e4efff9c;
$quaternary-color: white;

$disabled-color: lightgray;

$rockset-primary-color: #9737ab;
$rockset-secondary-color: #49c0e7;
$linkedin-primary-color: #0077b5;
$linkedin-secondary-color: white;

$arrow-color: #3fd886;
$bread-color: #a7612f;
$quill-color: #d3d3d3;

$xs: calc(10pt + .1vw);
$s: calc(10pt + .2vw);
$m: calc(12pt + .3vw);
$l: calc(12pt + 2vw);

$thin: 100;
$light: 300;
$medium: 400;
$bold: 600;

$xs-svg: calc(15px + 0.5vw);
$sm-svg: calc(30px + 1vw);
$med-svg: calc(45px + 2vw);
$lg-svg: calc(60px + 3vw);

html {
  background-color: $quaternary-color;
  color: $primary-font-color;
  font-family: $font-stack;
}

body {
  margin: 0;
}

main {
  background-color: $tertiary-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: $s;
  font-weight: $light;
  line-height: 1.25;
  margin: 2vh auto 8vh;
  max-width: 25vw;
  padding: 20px;
  text-align: left;

  @media screen and (min-width: 2000px) {
    max-width: 15vw;
  }

  @media screen and (max-width: 1200px) {
    max-width: 30vw;
  }

  @media screen and (max-width: 1000px) {
    max-width: 35vw;
  }

  @media screen and (max-width: 900px) {
    max-width: 45vw;
  }

  @media screen and (max-width: 800px) {
    max-width: 55vw;
  }

  @media screen and (max-width: 700px) {
    max-width: 65vw;
  }

  @media screen and (max-width: 600px) {
    max-width: 75vw;
  }

  @media screen and (max-width: 500px) {
    max-width: 85vw;
  }
}

.disabled {
  color: $disabled-color;
}

::placeholder {
  font-family: $font-stack;
  font-weight: $thin;
}

#rockset {
  color: $rockset-primary-color;
}

#linkedin {
  color: $linkedin-primary-color;
}

#linkedin:hover,
#northwestern:hover,
#rockset:hover {
  text-decoration: underline;
}

a,
a:focus {
  text-decoration: none;
  color: inherit;
  transition: 0.15s;
}

a:hover {
  color: $rockset-primary-color;
}

a:active {
  color: $linkedin-primary-color;
}

#back_arrow,
#bread,
#coffee,
#quill {
  max-height: $xs-svg;
  max-width: $xs-svg;
}

#first_name,
#last_name {
  max-height: $med-svg;
  max-width: $med-svg;
}

#brian {
  max-height: $lg-svg;
  max-width: $lg-svg;
}

// Styling for Markdown

ol,
ul {
  margin: 10px 0;
  padding: 0 15px;
}

strong {
  font-weight: $bold;
}

ul li {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}
