$font-stack: Helvetica, sans-serif;
$primary-font: black;
$rockset-primary-color: #9737ab;
$rockset-secondary-color: #49c0e7;
$linkedin-primary-color: #0077B5;
$linkedin-secondary-color: white;

$xs-svg: 40px;
$sm-svg: 60px;
$med-svg: 120px;
$lg-svg: 200px;

html {
  color: $primary-font;
  font: 100% $font-stack;
  height: 100vh;
}

#rockset {
  color: $rockset-primary-color;
}

#rockset:hover {
  background-color: $rockset-secondary-color;
}

#linkedin {
  color: $linkedin-primary-color;
}

#linkedin:hover {
  color: $linkedin-secondary-color;
  background-color: $linkedin-primary-color;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

button:hover {
  background-color: #b1b1b1;
}

button:active {
  background-color: $rockset-primary-color;
}

#back_arrow:hover g {
  fill: #3fd886;
}

#bread:hover g {
  fill: #a7612f;
}

#coffee_chat:hover g {
  fill: #6f4e37;
}

#quill:hover g {
  fill: #d3d3d3;
}

#chat,
#coffee {
  max-height: $xs-svg;
  max-width: $xs-svg;
}

#back_arrow,
#bread,
#quill {
  max-height: $sm-svg;
  max-width: $sm-svg;
}

#first_name,
#last_name {
  max-height: $med-svg;
  max-width: $med-svg;
}

#brian {
  max-height: $lg-svg;
  max-width: $lg-svg;
}

main {
  max-width: 40%;
}

@media screen and (max-width: 1000px) {
  #first_name,
  #last_name {
    max-height: $sm-svg;
    max-width: $sm-svg;
  }

  #brian {
    max-height: $med-svg;
    max-width: $med-svg;
  }

  main {
    max-width: 85%;
  }
}
